#title{
    text-align: center;
}

#search{
    text-align: center;
    margin: 1rem;
    font-size: 1.5rem;
    min-width:300px;
    margin-right: auto;
    margin-left:auto;
}

#search label {
    display: block;
}

#search input {
    font-size: 1.5rem;
    border-radius: 5px;
    border: solid 1px;
}

/* #results {
    width:100%;
} */

#resultsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none!important;
    text-align: center;
    margin-right: auto;
    margin-left:auto;
    font-weight: 700;
    max-width: 950px;
    /* width: 300px; */
    padding: 0px;
}

.result-card{
    margin: 1rem;
    padding: 1rem;
    border: solid 1px black;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    width: 250px;
    height:auto;
}

.result-card:hover {
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    transform: scale(1.02);
}

.result-card:active {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
    transform: scale(1.00);
}

.results-table {
    text-align: center;
    margin-right: auto;
    margin-left:auto;
}

.results-table th{
   background-color: #7dcbe8;
   color: white;
   padding: 0.5rem;
}

.results-table td{
    /* padding: 0.5rem; */
}

.prodImg {
    height:150px;
    width:auto;
}