
#title{
    text-align: center;
}

#search{
    text-align: center;
    margin: 1rem;
}
#search input {
    font-size: 1rem;
    border-radius: 5px;
    border: solid 1px;
}
#resultsTable{
    text-align: center;
}
#resultsTable table{
    margin-right: auto;
    margin-left:auto;
    border-collapse: collapse;
    font-weight: 700;
    width:90%;
    max-width: 600px;
    min-width: 300px;
    
}
#resultsTable thead {
    color: white;
    background-color: #94d4ec;
}
#resultsTable th {
    padding: 1rem;
}


#resultsTable > td {
    border: solid 1px black!important;
    width: 100%;
}

.contam-results {
    width: 100%;
}

.contam-results td{
    border: solid 1px black!important;
}

.prodImg {
    width:50px;
    height:auto;
}

